{%block contenido_center%}
    <div class="contenido_titulo">
        <h2>Gestionar Usuarios</h2>
    </div>
    <center>
        <table>
            <tr>
                <td id="boton">
                    {% url administrador.usuarios.views.crear_usuario as enlace %}

                    <a id="admin_agregar_usuario"
                        href="{{ enlace }}">
                        &nbsp;&nbsp;Agregar Usuario
                    </a>
                </td>
            </tr>
            <tr>
                <td id="boton">
                    {% url administrador.usuarios.views.consultar_usuario as enlace %}

                    <a id="admin_consultar_usuario"
                        href="{{ enlace }}">
                        &nbsp;&nbsp;Consultar Usuarios
                    </a>
                </td>
            </tr>
            <tr>
                <td id="boton">
                    <a id="admin_usuarios_pendiente"
                        href="/administrador/usuarios/consultar_usuarios_pendiente/">
                        &nbsp;&nbsp;Usuarios pendientes
                    </a>
                </td>
            </tr>
        </table>
    </center>
{%endblock%}

