# No importar las siguientes extensiones.
*~
*.swp

# No importar archivos "compilados" de Python.
*.pyc

# No importar las variables de configuración del sistema.
settings.py

# Ni los siguientes relacionados con Eclipse creo.
.project
.pydevproject
.settings/

