{% extends "inicio_coordinador.html" %}

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#id_correo').addClass('ui-widget ui-corner-all required email');
		$('#id_submit').addClass('ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only');
	});

	$(document).ready(function() {
		$("#formulario_agregar_usuario").validate({
			messages: {
				correo: {
					required: 'Por favor ingrese el correo',
					email: 'Por favor ingrese un correo válido'
				}
			}
		});
	});
</script>
{% endblock %}

{% block contenido_centro %}
<h2>Agregar Usuario</h2>

<div id="contenido_agregar_usuario">
	<div id="formulario">
	    {% url agregar_usuario as enlace %}
	    {% include "formulario/formulario.html" with formulario=formulario enlace=enlace id_formulario="formulario_agregar_usuario" enviar="Guardar usuario" %}
    </div>
</div>
{% endblock %}
