{% extends "inicio_coordinador.html" %}

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#id_correo').addClass('ui-widget ui-corner-all required email');
	});

	$(document).ready(function() {
		$("#formulario_editar_usuario").validate({
			messages: {
				correo: {
					required: 'Por favor ingrese el correo',
					email: 'Por favor ingrese un correo válido'
				}
		});
	});
</script>
{% endblock %}

{% block contenido_centro %}
<h2>Editar Usuario</h2>

<div id="contenido_editar_usuario">
	<div id="formulario">
	    {% url editar_usuario_pendiente as enlace %}
	    {% include "formulario/formulario.html" with formulario=formulario enlace=enlace id_formulario="formulario_editar_usuario" enviar="Editar usuario" %}
    </div>
</div>
{% endblock %}

