{% extends "inicio_coordinador.html"%}

{% block contenido_centro %}
    <div class="contenido_titulo">
        <h2>Editar usuario</h2>
    </div>
    <center>
        <p style="color: green;">El usuario se ha editado exitosamente</p> 
        <table>
            <tr>
                {% url listar_usuarios_pendientes as enlace %}

                <td id="boton"><a id="admin_usuarios" href="{{ enlace }}">
                    &nbsp;&nbsp;Volver</a>
                </td>
            </tr>
        </table>
    </center>
{% endblock %}

