{% extends "base.html" %}

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#id_username').addClass('required ui-widget ui-corner-all');
		$('#id_password').addClass('required ui-widget ui-corner-all');

		$("#formulario_inicio_sesion").validate({
			messages : {
				username : {
					required : 'Por favor ingrese su cédula',
				},
				password : {
					required : 'Por favor ingrese su contraseña',
				}
			},
			submitHandler : true
		});
	});
</script>
{% endblock %}

{% block contenido %}
<div id="contenido_inicio_sesion">
	<div id="formulario"> 
	    <form action="#" method="post" id="formulario_inicio_sesion">
	        {% csrf_token %}
	
	        {% for campo in form %}
	        <div class="campo_formulario"> 
	        	<label for="{{ campo.name }}">{{ campo.label }}:</label> {{ campo }}
	        </div>
	      	{% endfor %}
	
			<input type="image"
	         		src="{{ STATIC_URL }}imagenes/entrar.png"
	                id="submit" />
	
			{% if form.errors %}
	    	<p class="error">Usuario o Contraseña Inválidos</p>
	    	{% endif %}
	    </form>
	    <div style="clear: both"></div>
	</div>

    <a href="javascript:popup()">¿Olvidó su contraseña?</a> 
</div>
{% endblock%}
