{% extends "administrador/administrador_base.html"%}
<!-- LOL --> 
{%block contenido_center%}
<div class="contenido_titulo">
  <h2>Modificar Usuario</h2>
</div>
<center>
  {% if error %}
  <p style="color: red;">La actividad con el nombre "{{ error }}" que desea modificar no existe</p>
  {% else %}
  <p style="color: green;">Los cambios a la actividad se han realizado exitosamente</p>
  {% endif%}
  <table>
    <tr>
      <td id="boton"><a id="admin_usuarios"
        href="/administrador/actividad/consultar_actividad/">
          &nbsp;&nbsp;Volver</a></td>
    </tr>
  </table>
</center>
{%endblock%}
