{% extends "base_template.html"%} 
{% block content%}
<div id="principal_top"></div>
<div id="principal_center">
  <div id="menu">
  {%include "estudiante/estudiante_menu.html"%}
  </div>

  <div id="contenido_top">
  </div>

  <div id="contenido_center">
    {%block contenido_center%}
    
    <h2>¡Bienvenido al sistema de guardabosques!</h2>
<style type="text/css">
.slideshow {
    height: 232px;
    width: 232px;
    margin: auto
}

.slideshow img {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #eee;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
        fx: 'shuffle' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    });
});
</script>
<center>
    <div class="slideshow">
      <img src="{{STATIC_PREFIX}}images/Guardabosques.JPG" width="250"
        height="250" /> <img
        src="{{STATIC_PREFIX}}images/Guardabosques1.JPG" width="250"
        height="250" /> <img
        src="{{STATIC_PREFIX}}images/Guardabosques2.JPG" width="250"
        height="250" /> <img
        src="{{STATIC_PREFIX}}images/Guardabosques3.JPG" width="250"
        height="250" /> <img
        src="{{STATIC_PREFIX}}images/Guardabosques4.JPG" width="250"
        height="250" /> <img
        src="{{STATIC_PREFIX}}images/Guardabosques5.JPG" width="250"
        height="250" /> <img
        src="{{STATIC_PREFIX}}images/Guardabosques6.JPG" width="250"
        height="250" />
    </div>
    </center>
    {%endblock%}
  </div>

  <div id="contenido_bottom"></div>

</div>
<div id="principal_bottom"></div>
{% endblock%}
