{% extends plantilla_base %}

{% block contenido_centro %}

<style type="text/css">
</style>

<div id="contenedor_central">

<div class="contenido_titulo">
    <h2>Descripción de la jornada</h2>
</div>

{{ jornada.fecha|date:"d-m-Y" }}
{#  #}
{# <div align="left"> #}
{# <ul> #}
{# {% for detalle in detalles %} #}
{#     <li> #}
{#         {{ detalle.actividad }} #}
{#         <br /> #}
{#         <p> #}
{#         {{ detalle.descripcion }} #}
{#         </p> #}
{#     </li> #}
{# {% endfor %} #}
{# </ul> #}
{#  #}
</div>

<a class="volver" href="{% url administrar_jornadas %}">
    <img width=20px height=20px src="{{ STATIC_URL }}imagenes/salida.png"/>
    Volver
</a>

</div>

{% endblock %}
