<!-- Lol -->
{%block contenido_center%}
<!-- Lol -->
<script type="text/javascript">
	$(document).ready(function() {
						$('#id_cedula').addClass(
								'ui-widget ui-corner-all required number')
								.attr('readonly', true);
						$('#id_clave').addClass('ui-widget ui-corner-all');
						$('#id_carne').addClass('ui-widget ui-corner-all');
						$('#id_correo').addClass(
								'ui-widget ui-corner-all required email');
						$('#id_nombres').addClass(
								'ui-widget ui-corner-all required');
						$('#id_apellidos').addClass(
								'ui-widget ui-corner-all required');
						$('#id_telefono_principal').addClass(
								'ui-widget ui-corner-alll');
						$('#id_telefono_opcional').addClass(
								'ui-widget ui-corner-alll');
						$('#id_zona').addClass('ui-widget ui-corner-alll');
						$('#id_codigo_carrera').addClass(
								'ui-widget ui-corner-all required');
						$('#id_limitaciones_fisicas').addClass(
								'ui-widget ui-corner-all');
						$('#id_limitaciones_medicas').addClass(
								'ui-widget ui-corner-all');
					});
	$(document).ready(function() {
		$(".form").validate({
			messages : {
				correo : {
					required : 'Por favor ingrese el correo',
					email : 'Por favor ingrese un correo válido'
				},
				nombres : {
					required : 'Por favor debe indicar su nombre'
				},
				apellidos : {
					required : 'Por favor debe indicar su apellido'
				},
				codigo_carrera : {
					required : 'Por favor debe indicar su carrera'
				}/*,
				clave1 : {
					equalTo : 'Por favor las claves deben ser iguales'
				}*/

			}/*,
			rules : {
				clave1 : {
                    required : false,
					equalTo : "#clave"
				}
			}*/
		});
	});
</script>
<center>
  <div class="ui-widget-content ui-corner-all"
    style="width: 700px; padding: 10px;">
    <div class="contenido_titulo">
      <h2>Modificar Datos</h2>
    </div>
  {% if error %}
  <p style="color: red;">El estudiante con cedula "{{ error }}"  que desea modificar no existe</p>
  {% endif%}
    {% if form.errors %}
    <p style="color: red;">Por favor corrija los siguientes errores</p>
    {% endif %}
    <form class="form" action="/estudiante/usuarios/modificar_usuario/"
      method="POST">
      <table>{{ form.as_table }}
      </table>
      <input
        class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
        type="submit" value="Guardar Cambios">
    </form>
  </div>
</center>
{%endblock%}
