{% extends "inicio.html" %}
{% block menu %}
    {% include "menu_estudiante.html" %}
{% endblock %}

{% block contenido_centro %}
<p>Este es el sistema para administración de Guardabosques.</p>
<p>En el menú izquierdo posee las siguientes funciones:</p>
<p><strong>Inicio:</strong> permite volver a esta página.</p>
<p><strong>Modificar perfil:</strong> para modificar sus datos de perfil.</p>
<p><strong>Jornadas:</strong> permite agregar jornadas de trabajo.</p>
<p><strong>Informe:</strong> para subir informes de servicio comunitario.</p>
{% endblock %}
