{% extends "base.html" %}
{% block content %}
<div id="principal_superior"></div>
<div id="principal_centro">
    <div id="menu">
    {% block menu %}
    {% endblock %}
    </div>

    <div id="contenido_superior"></div>
    <div id="contenido_centro">
        {% block contenido_centro %}
        <div id="contenedor_central">
        <h2>¡Bienvenido al sistema de guardabosques!</h2>
        <center>
            <p>Aquí va un mensaje interesante. Yo pondría ¿Qué es Guardabosques? Misión, visión, objetivos, etc. Este mensaje es largo para probar la capacidad de caracteres por línea en el cuerpo de los mensajes.
            </p>
        </center>
        </div>
        {% endblock %}
    </div>
    <div id="contenido_inferior"></div>
</div>
<div id="principal_inferior"></div>
{% endblock %}

