<ul>
	<li class="boton">
    	{% url inicio as enlace %}
    	<a id="inicio" href="{{ enlace }}">Inicio</a>
	</li>

	<li class="boton">
		{% url modificar_perfil as enlace %}
    	<a id="modificar_perfil" href="{{ enlace }}">Modificar perfil
    	</a>
	</li>

    <li class="boton">
        {% url administrar_jornadas as enlace %}
        <a id="administrar_jornadas" href="{{ enlace }}">Jornadas</a>
	</li>

	<li class="boton">
    	<a id="buscar" href="#">Informes</a>
	</li>

    <li class="boton">
        {% url finalizar_sesion as enlace %}
        <a href="{{ enlace }}">Cerrar Sesión</a>
    </li>
</ul>
