<ul>
	<li class="boton">
    	{% url inicio as enlace %}
    	<a id="inicio" href="{{ enlace }}">Inicio</a>
	</li>

	<li class="boton">
    	{% url gestionar_usuarios as enlace %}
    	<a id="gestionar_usuarios" href="{{ enlace }}">Gestionar Usuarios
    	</a>
	</li>

    <li class="boton">
        <a id="jornadas" href="{% url administrar_jornadas %}">Jornadas</a>
    </li>

	<li class="boton">
    	<a id="buscar" href="#">Búsquedas</a>
	</li>

    <li class="boton">
        {% url listar_actividades as enlace %}
        <a id="actividades" href="{{ enlace }}">Actividades</a>
    </li>

    <li class="boton">
        <a id="asistencias" href="#">Asistencias</a>
    </li>

    <li class="boton">
        <a id="notificaciones" href="#">Notificaciones</a>
    </li>

    <li class="boton">
        {% url finalizar_sesion as enlace %}
        <a href="{{ enlace }}">Cerrar Sesión</a>
    </li>
</ul>
