{% block contenido_center %}
    <div class="contenido_titulo">
        <h2>Gestionar Usuarios</h2>
    </div>
    <center>
        <table>
            <tr>
                <td id="boton">
                    {% url Guardabosques.usuarios.views.agregar_usuario as enlace %}

                    <a id="admin_agregar_usuario"
                        href="{{ enlace }}">
                        &nbsp;&nbsp;Agregar usuario
                    </a>
                </td>
            </tr>
            <tr>
                <td id="boton">
                    {% url Guardabosques.usuarios.views.consultar_usuario as enlace %}

                    <a id="admin_consultar_usuario"
                        href="{{ enlace }}">
                        &nbsp;&nbsp;Consultar usuarios
                    </a>
                </td>
            </tr>
            <tr>
                <td id="boton">
                    {% url Guardabosques.usuarios.views.consultar_pendiente as enlace %}

                    <a id="admin_consultar_pendiente"
                        href="{{ enlace }}">
                        &nbsp;&nbsp;Usuarios pendientes
                    </a>
                </td>
            </tr>
        </table>
    </center>
{% endblock %}

