<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Sistema de Bitácoras de los Guardabosques USB</title>
<link rel="stylesheet" href="static/css/style.css" type="text/css">
<link type="text/css"
  href="static/css/ui-lightness/jquery-ui-1.8.16.custom.css"
  rel="stylesheet" />
<link type="text/css" href="static/css/tablas.css" rel="stylesheet" />
<link type="text/css" href="static/css/plantilla.css" rel="stylesheet" />

<script type="text/javascript" src="static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript"
  src="static/js/jquery-ui-1.8.16.custom.min.js"></script>
</head>
<script>
	$(document).ready(function() {
		$('#cuerpo').fadeIn(1000);
	});
</script>
<body>
  <div id="cuerpo" style="display: none;">
    <div id="header"></div>
    <div id="contenedor_principal">
      It is now {{ current_date }}.

      <div id="principal_top"></div>
      <div id="principal_center">

        <div id="menu">
          <table>
            <tr>
              <td id="boton"><a id="admin_inicio" href="#">
                  &nbsp;&nbsp;Inicio </a></td>
            </tr>
            <tr>
              <td id="boton"><a id="admin_busquedas" href="#">
                  &nbsp;&nbsp;Bùsquedas </a></td>
            </tr>
            <tr>
              <td id="boton"><a id="admin_usuarios" href="#">
                  &nbsp;&nbsp;A&ntilde;adir Usuarios </a></td>
            </tr>

            <tr>
              <td id="boton"><a id="admin_actividades" href="#">
                  &nbsp;&nbsp;Actividades </a></td>
            </tr>
            <tr>
              <td id="boton"><a id="admin_asistencias" href="#">
                  &nbsp;&nbsp;Asistencias </a></td>
            </tr>
            <tr>
            <tr>
              <td id="boton"><a id="admin_notificaciones" href="#">
                  &nbsp;&nbsp;Notificaciones </a></td>
            </tr>
            <tr>
              <td id="boton"><a href="acciones/cerrar_sesion.php">
                  &nbsp;&nbsp;Cerrar Sesi&oacute;n </a></td>
            </tr>


          </table>
        </div>

        <div id="contenido_top"></div>

        <div id="contenido_center">center</div>

        <div id="contenido_bottom">contr bottom</div>

      </div>
      <div id="principal_bottom">principal bottom</div>
    </div>
  </div>
</body>
</html>