<script>
    $(document).ready(function() {
        $('#estudiante_cuenta').click(function() {
            $('#contenido_center').load('/estudiante/usuarios/modificar_usuario/');
        });
    });
    $(document).ready(function() {
        $('#estudiante_bitacora').click(function() {
            $('#contenido_center').load('/estudiante/jornada/consultar_jornada/');
        });
    });
</script>
<table>
  <tr>
    <td id="boton"><a id="estudiante_inicio" href="/estudiante/">
        &nbsp;&nbsp;Inico</a></td>
  </tr>
  <tr>
    <td id="boton"><a id="estudiante_cuenta" href="#">
        &nbsp;&nbsp;Cuenta</a></td>
  </tr>
  <tr>
    <td id="boton"><a id="estudiante_jornada" href="/estudiante/jornada/registrar_jornada/">
        &nbsp;&nbsp;Agregar Jornada </a></td>
  </tr>
  <tr>
    <td id="boton"><a id="estudiante_bitacora" href="#">
        &nbsp;&nbsp;Bit&aacute;cora </a></td>
  </tr>
  <tr>
    <td id="boton"><a id="estudiante_informe" href="#">
        &nbsp;&nbsp;Informe </a></td>
  </tr>
  <tr>
    <td id="boton"><a id="estudiante_asistencia" href="#">
        &nbsp;&nbsp;Hojas Asistencia </a></td>
  </tr>
  <tr>
    <td id="boton"><a href="acciones/cerrar_sesion.php">
        &nbsp;&nbsp;Cerrar Sesi&oacute;n </a></td>
  </tr>


</table>