@CHARSET "UTF-8";

@font-face {
	font-family: "Login";
	src: url(./letraLog.ttf) format("truetype");
}

/* Cuerpo principal */
body {
	min-width: 960px;
    background-image: url("../imagenes/fondo.png");
}

/* Contenedores */
.contenedor_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Columnas completas */
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6,
.col_7, .col_8, .col_9, .col_10, .col_11, col_12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.contenedor_12 .col_1 {
	width: 60px;
}

.contenedor_12 .col_2 {
	width: 140px;
}

.contenedor_12 .col_3 {
	width: 220px;
}

.contenedor_12 .col_4 {
	width: 300px;
}

.contenedor_12 .col_5 {
	width: 380px;
}

.contenedor_12 .col_6 {
	width: 460px;
}

.contenedor_12 .col_7 {
	width: 540px;
}

.contenedor_12 .col_8 {
	width: 620px;
}

.contenedor_12 .col_9 {
	width: 700px;
}

.contenedor_12 .col_10 {
	width: 780px;
}

.contenedor_12 .col_11 {
	width: 860px;
}

.contenedor_12 .col_12 {
	width: 940px;
}

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Encabezado */
#encabezado {
	height: 110px;
	background-image: url("../imagenes/logo_grande.png");
    background-repeat: no-repeat;
}

/* Inicio de sesión */
#contenido_inicio_sesion {
	background-image: url("../imagenes/cuerpo.png");
    background-repeat: no-repeat;
    min-height: 300px;
    text-align: center;
    padding-top: 164px;
    margin: 0 auto;
}

form .campo_formulario {
    margin-bottom: 10px;
    width: 220px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form .campo_formulario label {
    display: block;
    font-weight: bold;
}

form .campo_formulario input {
    width: 100%;
}

form .campo_formulario .ui-state-error {
	padding-top: 2px;
    padding-bottom: 2px;
	font-size: 12px;
	clear: both;
}

form p.error {
    color: red;
    font-weight: bold;
}

form ul.errorlist li {
    color: red;
    font-weight: bold;
}

/* Envoltorios para contenido */
#principal_superior {
	height: 21px;
	background-image: url("../imagenes/principal_superior.png");
}

#principal_centro {
	min-height: 400px;
	background-image: url("../imagenes/principal_centro.png");
	background-repeat: repeat-y;
}

#principal_inferior {
	height: 21px;
	background-image: url("../imagenes/principal_inferior.png");
}

/* Menú */
.menu {
	float: left;
    display: inline;
	font-family: "Login";
	font-size: 14px;
    text-align: center;
}

.menu ul {
    text-indent: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.boton {
    height: 53px;
	text-align: center;
	background-image: url("../imagenes/boton.png");
	background-repeat: no-repeat;
    padding-top: 10px;
}

/* Contenido */
#contenido_superior {
	height: 28px;
	background-image: url("../imagenes/contenido_superior.png");
	background-repeat: no-repeat;
}

#contenido_centro {
	background-image: url("../imagenes/contenido_centro.png");
    padding-left: 20px;
    text-align: center;
    padding-bottom: 10px;
}

#contenido_centro >div.menu_centro {
    width: 160px;
    margin: 0 auto;
}

#contenido_inferior {
	height: 28px;
	background-image: url("../imagenes/contenido_inferior.png");
	background-repeat: no-repeat;
}

#contenido_agregar_usuario {
    text-align: center;
    margin: 0 auto;
    width: 380px;
}

#contenido_agregar_usuario_exito {
    text-align: center;
    margin: 0 auto;
    width: 380px;
}

/* Modificar perfil */
#contenido_modificar_perfil form .campo_formulario {
    margin-bottom: 10px;
    width: 360px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#contenido_modificar_perfil form .campo_formulario textarea {
    width: 100%;
}

/* Registrar usuario */
#contenido_registrar_usuario form .campo_formulario {
    margin-bottom: 10px;
    width: 360px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#contenido_registrar_usuario form .campo_formulario textarea {
    width: 100%;
}

/* Revisar de aquí para abajo */

a:visited,\a:link,a:active {
	font-family: "Login";
	font-size: 14px;
	color: black;
	text-decoration: none;
}

a:hover {
	font-family: "Login";
	font-size: 14px;
	cursor: pointer;
	color: green;
}

#ui-datepicker-div {
	background-color: #FFFFFF;
	font: 75% "Trebuchet MS", sans-serif;
	margin: 0px;
}

#ui-datepicker-div  .demoHeaders {
	margin-top: 2em;
}

#ui-datepicker-div #dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#ui-datepicker-div .ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

#ui-datepicker-div ul#icons {
	margin: 0;
	padding: 0;
}

#ui-datepicker-div  ul#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

#ui-datepicker-div ul#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

h2 {
	font-family: "Login";
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 30px;
	text-decoration: underline;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}

em {
	font-style: normal;
	font-size: 12px;
	font-weight: bolder;
}

.editarb {
	font-style: normal;
	font-size: 15px;
	font-weight: bolder;
	text-align: center;
	border: 0;
}

.tablainformativa {
	margin-left: 30px;
}

a.modificar {
	width: 15px;
	height: 15px;
	background-image: url("../imagenes/editarB.png");
}

a.eliminar {
	width: 15px;
	height: 15px;
	background-image: url("../imagenes/delete.png") no-repeat;
}

a.eliminar2 {
	width: 20px;
	height: 20px;
	background-image: url("../imagenes/rechazada.png") no-repeat;
}

#tabla-caja-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#tabla-caja-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #6CC150;
	border-top: 4px solid #417430;
	border-bottom: 4px solid #417430;
	color: #DBFFB8;
}
#tabla-caja-a td
{
	padding: 8px;
	background: #99FF99; 
	border-bottom: 1px solid #1F331F;
	color: #003300;
	border-top: 1px solid transparent;
}
#tabla-caja-a tr:hover td
{
	background: #EBFFEB;
	color: #003300;
}


#tabla-caja-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
}
#tabla-caja-b th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
}
#tabla-caja-b td
{
	padding: 8px;
	background: #e8edff; 
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}
