{% extends "administrador/administrador_base.html"%}
<!-- LOL --> 
{%block contenido_center%}
<div class="contenido_titulo">
  <h2>Eliminar Usuario</h2>
</div>
<center>
  {% if error %}
  <p style="color: red;">El usuario con cedula "{{ error }}"  que desea eliminar no existe</p>
  {% else %}
  <p style="color: green;">El usuario se ha eliminado exitosamente</p>
  {% endif%}
  <table>
    <tr>
      <td id="boton"><a id="admin_usuarios"
        href="/administrador/usuarios/consultar_usuario/">
          &nbsp;&nbsp;Volver</a></td>
    </tr>
  </table>
</center>
{%endblock%}
