{%block contenido_center%}
<script>
</script>
<div class="contenido_titulo">
  <h2>Gestionar Usuarios</h2>
</div>
<center>
  <table>
    <tr>
      <td id="boton"><a id="admin_agregar_usuario"
        href="/administrador/usuarios/registrar_usuario/">
          &nbsp;&nbsp;Agregar Usuario</a></td>
    </tr>
    <tr>
      <td id="boton"><a id="admin_consultar_usuario"
        href="/administrador/usuarios/consultar_usuario/">
          &nbsp;&nbsp;Consultar Usuarios</a></td>
    </tr>
  </table>
</center>
{%endblock%}
